.ancients img {
    height: 300px;
}
body {
    position: relative;
    background-image: url(../assets/home.png);
    background-size: cover;
    
}
.ancients {
    display: flex;
    margin: 30px 250px;
    justify-content: space-between;
}

.difficulty-level {
    display: none;
    margin: 30px 550px;
    justify-content: space-between;
}

.active {
    border: 3px solid red;
}

.shuffle {
    display: none;
    margin: 20px auto;
}
.first span,
.second span,
.third span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.blue { 
    background-color: blue;
}
.brown { 
    background-color: brown;
}
.green { 
    background-color: green;
}

.current_deck_state {
    display: none;
    margin-left: 100px;
}

.current_deck_state h2{
    color:white;
}

.current_deck_state .darken  {
    color: gray;
}

.current_deck_state span  {
    margin-right: 10px;
    padding-top: 4px;
    text-align: center;
    color: white;
}

.shirt img {
    height: 250px;
}

.cards {
    position: relative;
}

.shirt {
    display: none;
    position: absolute;
    right: 500px;
    top: -150px;
}

.flipped_card img {
    display: none;
    height: 250px;
    position: absolute;
    right: 200px;
    top: -150px;
}
.deactivated {
    display: none;
}

.dis_block {
    display: block;
}
